#loginForm {
    width: 30%;
}

.loginInputs {
    margin: 5vh 0;
}

@media only screen and (max-width: 768px) {
    #loginForm {
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    #loginForm {
        width: 80%;
    }
}