#ranking-container {
    width: 40%;
    margin: auto;
}

.no-ranking {
    margin-top: 20vh;
}

@media only screen and (max-width: 768px) {
    #ranking-container {
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    #ranking-container {
        width: 80%;
    }
}